@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Quicksand:wght@500;700&display=swap');
 
*, *::before, *::after {
  box-sizing: border-box;
}
 
html {
  scroll-padding-top: 90px;
  scroll-behavior: smooth; /* opsional */
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
 
  display: flex;
  flex-direction: column;
  
}

 
header.navbar-container {
  position: fixed;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
 background-color: #fff;
  padding-block: 1rem;
  z-index: 999;
}
 
header.navbar-container .logo {
  font-weight: 700;
  font-size: 25px;
  color: #2D3E50;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: #425c77;
  color: white;
}

main .row{
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 4rem;
  flex: 1;
 
  display: flex;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
}
main article{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
main article .content-description {
  flex: 1 1;
}
 
main article .content-description .title {
  font-size: 2rem;
  margin-block: 1rem;
}
 
main article .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}
 
main article .content-description button {
  padding: .8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: white;
 
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #2D3E50;
  cursor: pointer;
  transition: all .15s ease-in;
}
 
main article .content-description button:hover {
  border: 3px solid #2D3E50;
  color: #2D3E50;
  background-color: transparent;
}

main .row .juduldesc {

  justify-content: center;
  display: flex;
  flex: 1;

}
main article .aboutdesc {
  max-width: 400px;
  display: flex;
}

main article .content-image {
  flex: 1;
  display: flex;
}
 
main article .content-image img {
  margin: auto;
  min-width: 250px;
  width: 400px;
}


main article .aboutdesc {
  flex: 1 1;
}
main article .about-image{
  flex: 1;
  display: flex;
}

main article .about-image img {
  margin: auto;
  min-width: 250px;
  width: 400px;
}

.aboutdesc p {
  width: 400px;
}

main article .about-image img {
  margin: none
  ;
  min-width: 250px;
  width: 400px;
}

main .row .judulproject {
  justify-content: center;
  display: flex;
  flex: 1;
  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 220px;
  min-width: 220px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 150px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #2D3E50,#425c77);
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #2D3E50, #425c77);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

main .row .judulcontact {
  justify-content: center;
  display: flex;
  flex: 1;
}


main .row .iconsosmed{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

main .row .iconsosmed .sosmed img{
 height: 50px;
 margin: 20px;
}

aside{
  display: flex;
  justify-content: center;
  position: relative;
  order: 1;
}

.container {
  overflow: hidden;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
  background-color:white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 3rem;
  
}

.banner-img {
  position: absolute;
  background-color: #2D3E50;
  height: 7rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 4.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btn {
  width: 120px;
  height: 50px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #2D3E50;
  padding: 1rem;
  background-color: white;
  border-style: solid;
  border-color: #2D3E50;
  border-radius: 1rem;
}

.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
#footer {
  position: flex;
  background: #2D3E50;
  min-height: 200px;
  /* padding: 20px 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer p {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
footer h1 {
  color: white;
}
#footer ul {
  padding: 0;
}





@media screen and (max-width: 768px) {
    @media screen and (max-width: 768px) {
        header.navbar-container {
          flex-direction: column;
        }
       
        header.navbar-container .nav-list ul {
          flex-wrap: wrap;
          column-gap: .5rem;
        }
       
        main {
          padding: 1rem 3rem;
        }
       
        main article {
          flex-direction: column;
          gap: 2rem;
        }
       
        main article .content-description .title {
          font-size: 3rem;
        }
       
        main article .content-description p {
          font-size: 1rem;
        }
       
        main article .content-image {
          order: -1;
        }

        main article .about-image {
          order: -1;
        }
      }
} 